.app-header-constainer {
  background-color: $clr-white;
  font-family: raleway;
  color: $clr-secondary;
  font-size: rem(14px);


  .app-header {
    .logo{
      
    }
    .header-link{
        margin-left:  1rem;
        &:hover{
          text-decoration: none;
        }
      }
      .active{
        color: $clr-main;
      }
  }
}
